---
Checks:          '*,
     # Using clang-format to order includes,
    -llvm-include-order,
     # Currently this is not relevant,
    -modernize-use-trailing-return-type,
     # Use underscore on purpose,
    -google-readability-avoid-underscore-in-googletest-name,
     # These are not relevant,
    -llvmlibc*'
WarningsAsErrors: '*'
FormatStyle:     file
...
